body {
  background: #E0E0E0;
}

#container {
  overflow-y: scroll;
  height: 96%;
  position:fixed;
  display:block;
}

#status_bar {
  font-size: 70%;
  bottom: 0;
  background: #A7A7A7;
  position: fixed;
  width: 100%;
}

.arrow-to-right {
  font-size: 0px; 
  line-height: 0%; 
  width: 0px;
  height: 0px;

  border: 7px solid transparent;
  border-right: 7px solid #A7A7A7;
  left: -14px;
  top: 2px;
  display:block;
  position: absolute;
}

.arrow-to-right span{
  font-size: 0px; 
  line-height: 0%; 
  width: 0px;
  height: 0px;

  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
  position: absolute;
  
  left: -6px;
  top: -7px;
  
}

.murmur {
  font-size: 75%;  
  margin: 0.5em;
  margin-left: 0.2em;
  margin-top: 0.7em;
}


.murmur .icon-wrapper {
  float: left;  
  margin: 0.5em;
  margin-top: 0.2em;
  border: 1px solid #A7A7A7;
  -khtml-border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px #777;
  
}

.murmur .icon {
  width: 44px;
  height: 44px;
}

.murmur .body {
  margin-left: 63px;
  border: 1px solid #A7A7A7;
  border-right: 2px solid #A7A7A7;
  border-bottom: 2px solid #A7A7A7;
  background-color: #fff;
  -khtml-border-radius: 5px;
  padding: 0.5em;
  min-height: 45px;
  position:relative;
}

.murmur .created-at {
  font-size: 70%;
  font-style: italic;
  font-weight: lighter;
  position: absolute;
  right: 0;
  padding-right: 0.5em;
}

.murmur .author {
  font-weight: bold;
  position: absolute;
  width: 55%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.murmur .content {
  padding-top: 1.7em;
  padding-bottom: 0.5em;
  overflow: hidden;
}