body {
  background: #D0D0D0;
}

#container {
  overflow-y: auto;
  height: 96%;
  position:fixed;
  display:block;
  width:100%;
}

#container .spinner {
  text-align: center;
  padding-bottom: 0.5em;
}

.arrow {
  font-size: 0px; 
  line-height: 0%; 
  width: 0px;
  height: 0px;
  border: 7px solid transparent;
  display:block;
  position: absolute;
}

.arrow span {
  font-size: 0px; 
  line-height: 0%; 
  width: 0px;
  height: 0px;
  border: 7px solid transparent;
  position: absolute;
}

.arrow.point-to-left {
  border-right: 7px solid #A7A7A7;
  left: -14px;
  top: 1px;
}

.arrow.point-to-left span {
  border-right: 7px solid #FBFBFB;
  left: -5px;
  top: -8px;
}

.arrow.point-to-right {
  border-left: 7px solid #A7A7A7;
  right: -14px;
  top: 1px;
}

.arrow.point-to-right span {
  border-left: 7px solid #FBFBFB;
  right: -5px;
  top: -8px;
}

.arrow.point-to-left.mention span {
  border-right: 7px solid #CFEBFF;
}

.arrow.point-to-right.mention span {
  border-left: 7px solid #CFEBFF;
}


div.clear-both {
  clear: both;
}

.murmur {
  font-size: 76%;
  padding: 0.2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin: 0.1em;
  -khtml-border-radius: 10px;
}

.murmur:hover {
  background-color: #B0B0B0;
}


.murmur .icon-border-outer {
  float: left;  
  margin: 0.5em;
  margin-top: 0.2em;  
  margin-right: 0.2em;
  width: 46px;
  height: 46px;
  border: 1px solid #bebebe;  
}

.murmur .icon-border-inner {
  border: 1px solid #a7a7a7;
  overflow: hidden;
}

.murmur .icon {
  background-color: #fff;
  width: 44px;
  height: 44px;
}

.murmur .body {
  border: 2px solid #A7A7A7;
  background-color: #FBFBFB;
  -khtml-border-radius: 5px;
  padding: 0.5em;
  min-height: 45px;
  position:relative;
  width: 78%;
  margin-left: 0.5em;
  float:left;
}

.murmur .created-at {
  font-size: 70%;
  font-style: italic;
  font-weight: lighter;
  position: absolute;
  right: 0;
  padding-right: 0.5em;
}

.murmur .author {
  font-size: 95%;
  font-weight: bold;
  position: absolute;
  width: 55%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.murmur .content {
  padding-top: 1.8em;
  padding-bottom: 0.1em;
  overflow: hidden;
  word-wrap: break-word;
}

.murmur .content a {
  text-decoration: none;
  font-size: 95%;
  color: #1A67CC;
}

.murmur .content .card-number {
  font-weight: bold;
}

.murmur .body.mention {
  background-color: #cfebff;
}

.murmur .content .mention {
  color: #1A67CC;
}