textarea {
  font-size: 95%;
  position: absolute;
  width: 397px;
  height: 92px;
  border: none;
  padding: 0.2em;
  padding-right: 0;
}


#status_bar {
  width: 400px;
  height: 30px;
}

#status_bar button {
  position: absolute;
  right: 5px;
}


#status_bar .info-panel {
  position: absolute;
  left: 5px;
  top: 5px;
}